body {
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: monospace;
}

img {
    object-fit: cover;
    width: 300px;
    height: auto;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    flex: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: 10px;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.info img:hover {
    border-color: #0051ff;
}