html, body {
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: monospace;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    text-align: center;
    border: 6px solid #3882F6;
}

img {
    object-fit: cover;
    width: 300px;
    height: auto;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    flex: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border: none;
    border-radius: 6px;
    margin: 5px;
    padding: 10px;
    background-color: #0051ff;
    color: aliceblue;
}

button:hover {
    background-color: #00329f;
}

button:active {
  background-color: #413bb1;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: 10px;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 6px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.info img:hover {
    border-color: #0051ff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
}

.lost {
    color: red;
    font-size: larger;
}

.won {
    color: green;
    font-size: larger;
}